.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-gap: 1.5px;
  }
}

.square {
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  font-size: 5rem;
  color: #746363;
  border-radius: 25px;
}

.square_o {
  background-color: rgb(158, 214, 129);
}

.square_x {
  background-color: rgb(231, 77, 108);
}

.reset {
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 65vw;
  background-color: rgb(111, 112, 128);
  color: #e8e5e5;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
  margin: 1;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
}

@media screen and (min-width: 1000px) {
  .reset {
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
    font-size: 3rem;
    width: auto;

  }
}

p {
  font-size: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -9rem;
}